
/* produk */
#produk {
    margin: 3rem;
    font-family: 'Roboto';
}


#produk .pilih-semua, #produk .buku {
    box-shadow: 0rem 0rem 0.1875rem rgba(0, 0, 0, 0.3);
    background-color: #FFF;
}


#produk .pilih-semua {
    padding: 1rem 2rem 0.5rem;
}


#produk .pilih-semua .checkbox-pilih-semua input {
    position: absolute;
    width: 1.375rem;
    height: 1.375rem;
    top: 0;
    left: 25%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}


#produk .pilih-semua .checkbox-pilih-semua span.checkbox {
    display: inline-block;
    border: 0.125rem solid #666;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 0.25rem;
    transition: all .2s;
}


#produk .pilih-semua .checkbox-pilih-semua span.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}


#produk .pilih-semua .checkbox-pilih-semua span.checkbox:after {
    top: 5%;
    left: 38%;
    border: solid #FFF;
    border-width: 0 0.1875rem 0.1875rem 0;
    width: 0.5rem;
    height: 0.875rem;
    transform: rotate(45deg);
}


#produk .pilih-semua .checkbox-pilih-semua input:hover + span.checkbox {
    border: 0.125rem solid rgb(113, 57, 233);
}


#produk .pilih-semua .checkbox-pilih-semua input:checked + span.checkbox {
    background-color: #834DF6;
    border: 0.125rem solid #834DF6;
}


#produk .pilih-semua .checkbox-pilih-semua input:checked + span.checkbox:after {
    display: block;
}


#produk .pilih-semua .text-pilih label {
    font-size: 1.0625rem;
    font-weight: 500;
    color: #444;
    cursor: pointer;
}


#produk .pilih-semua .hapus-semua a {
    text-decoration: none;
    font-size: 0.9375rem;
    font-weight: 500;
    color: #666;
}


#produk .buku {
    margin-top: 0.5rem;
    padding: 1rem 2rem;
}


#produk .buku .checkbox-pilih input {
    position: absolute;
    width: 1.375rem;
    height: 1.375rem;
    top: 0;
    left: 25%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}


#produk .buku .checkbox-pilih span.checkbox {
    display: inline-block;
    border: 0.125rem solid #666;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 0.25rem;
    transition: all .2s;
}


#produk .buku .checkbox-pilih span.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}


#produk .buku .checkbox-pilih span.checkbox:after {
    top: 1%;
    left: 38%;
    border: solid #FFF;
    border-width: 0 0.1875rem 0.1875rem 0;
    width: 0.5rem;
    height: 0.875rem;
    transform: rotate(45deg);
}


#produk .buku .checkbox-pilih input:hover + span.checkbox {
    border: 0.125rem solid rgb(113, 57, 233);
}


#produk .buku .checkbox-pilih input:checked + span.checkbox {
    background-color: #834DF6;
    border: 0.125rem solid #834DF6;
}


#produk .buku .checkbox-pilih input:checked + span.checkbox:after {
    display: block;
}


#produk .buku .detail-buku .img-buku img {
    width: 6.875rem;
    height: 10rem;
}


#produk .buku .detail-buku .desk-buku p.judul {
    font-size: 1.25rem;
    font-weight: 500;
    color: #454545;
}


#produk .buku .detail-buku .desk-buku p.author {
    margin-top: -0.75rem;
    color: #454545;
}


#produk .buku .detail-buku .desk-buku p.harga {
    font-weight: 500;
    color: #FF6B00;
}


#produk .buku .detail-buku .desk-buku p.harga span {
    border: 0.0625rem solid #FF6B00;
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
}


#produk .buku .detail-buku .desk-buku p.diskon {
    font-size: 0.875rem;
    text-decoration: line-through;
    color: #777;
    margin-top: -0.625rem;
}


#produk .buku .detail-buku .desk-buku .jumlah p {
    font-size: 0.9375rem;
    margin-bottom: 0;
    color: #555;
}


#produk .buku .detail-buku .desk-buku .aksi a {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    margin: 0 0.375rem;
    color: #BBB;
}
/* produk */