/* berlaku untuk width window < 320px */


    button:focus {
        outline: 0;
    }


    /* header */
    #header {
        font-family: 'Viga';
        margin-top: 1.25rem;
        margin-left: 1.25rem;
    }


    #header a {
        color: #0066FF;
        text-decoration: none;
        font-size: 1.75rem;
    }
    /* header */



    /* content */
    #content {
        margin: 5rem 0;
        font-family: 'Roboto';
    }


    #content .right h2 {
        margin-bottom: 7%;
        color: #555;
        font-weight: 400;
        text-align: center;
        padding-top: 0.4375rem;
        font-size: 1.375rem;        
    }


    #content .right .form {
        color: #333;
        font-weight: 300;
        width: 100%;
        font-size: 0.8125rem;
    }


    #content .right .form input {
        font-size: 0.75rem;        
    }


    #content .right .form input:focus {
        border: 0.0625rem solid #A8C5FF;
        box-shadow: 0rem 0rem 0.25rem 0.09375rem #A8C5FF;
    }


    #content .right .form small {
        display: none;
        color: #DA0000 !important;
    }


    #content .right .form .btn-right {
        width: 100%;
        font-weight: 500;
        color: #FFF;
        background-color: #FF8A00;
        font-size: 0.8125rem;
    }


    #content .right .form .btn-right:hover {
        background-color: #FF9416;
    }
    /* content */


    /* loading */
    .loading {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1500;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.3);
    }


    .loading img {
        width: 70%;
    }

    /* loading */


    /* dialog oke */
    .dialog-oke {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1500;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }


    .dialog-oke .pesan {
        background-color: #FFF;
        border-radius: 0.25rem;
        font-weight: 500;
        color: #333;
        font-size: 0.75rem;
        padding: 0.75rem 1rem;
        animation: translateDialog 0.5s ease-out;
    }


    .dialog-oke .pesan .btn-accept {
        border: 0;
        padding: 0.5rem 0.875rem;
        border-radius: 0.5rem;
        color: #FFF;
        font-weight: 500;
        font-size: 0.6875rem;
        margin-top: 0.625rem;
        background-color: #1B84FF;
        transition: background-color .2s ease-out;
    }


    .dialog-oke .pesan .btn-accept:hover {
        background-color: #117EFF;
    }


    @keyframes translateDialog {
        0% {
            transform: translateY(-2.5rem);
            opacity: 0;
        }


        100% {
            transform: translateY(0rem);
            opacity: 1;
        }
    }
    /* dialog oke */


/* berlaku untuk width window < 320px */












/* berlaku untuk width window (320px - 479px) */

@media (min-width: 320px) {
    
    
    /* header */
    #header a {
        font-size: 2rem;
    }
    /* header */

    

    /* content */
    #content .right h2 {
        font-size: 1.5rem;
    }


    #content .right .form {
        font-size: 0.875rem;
    }


    #content .right .form input {
        font-size: 0.8125rem;
    }


    #content .right .form .btn-right {
        font-size: 0.9375rem;
    }
    /* content */


    /* loading */
    .loading img {
        width: 55%;
    }
    /* loading */


    /* dialog oke */
    .dialog-oke .pesan {
        font-size: 0.875rem;
        padding: 1.0625rem 1.25rem;
    }


    .dialog-oke .pesan .btn-accept {
        padding: 0.5rem 1.25rem;
        font-size: 0.8125rem;
        margin-top: 0.875rem;
    }
    /* dialog oke */


}

/* berlaku untuk width window (320px - 479px) */












/* berlaku untuk width window (480px - 767px) */

@media (min-width: 480px) {


    /* content */
    #content .left {
        position: relative;
    }


    #content .left h2 {
        color: #0085FF;
        font-weight: 400;
        text-align: left;
        font-size: 1.75rem;
    }


    #content .left p.txt {
        margin-top: -0.125rem;
        text-align: left;
        font-size: 0.875rem;
        color: #2797FF;
    }


    #content .left .quotes {
        margin-top: 1.5rem;
        text-align: center;
        font-weight: 500;
    }


    #content .left .quotes p {
        font-size: 1.375rem;
        color: #DBEEFF;
    }


    #content .left .quotes p span {
        color: #C9E5FF;
    }


    #content .left .quotes p.motivator {
        font-size: 0.875rem;
    }


    #content .right h2 {
        font-size: 1.5rem;
    }


    #content .right .form {
        font-size: 0.9375rem;
    }


    #content .right .form input {
        font-size: 0.875rem;
    }


    #content .right .form .btn-right {
        font-size: 0.875rem;
    }
    /* content */


    /* loading */
    .loading img {
        width: 45%;
    }
    /* loading */


    /* dialog oke */
    .dialog-oke .pesan {
        font-size: 1.0625rem;
        padding: 1.5rem 1.6875rem;
    }


    .dialog-oke .pesan .btn-accept {
        padding: 0.5rem 1.5rem;
        font-size: 0.9375rem;
        margin-top: 0.8125rem;
    }
    /* dialog oke */


}

/* berlaku untuk width window (480px - 767px) */













/* berlaku untuk width window (768px - 959px) */

@media (min-width: 768px) {
    

    /* content */
    #content .left h2 {
        text-align: left;
        font-size: 2rem;
    }


    #content .left p.txt {
        margin-top: -0.25rem;
        font-size: 1.1875rem;
    }


    #content .left .quotes p {
        font-size: 1.75rem;
    }


    #content .left .quotes p.motivator {
        font-size: 1rem;
    }


    #content .right h2 {
        font-size: 1.75rem;
        text-align: left;
    }


    #content .right .form {
        font-size: 1rem;
    }


    #content .right .form input {
        font-size: 0.9375rem;
    }


    #content .right .form .btn-right {
        font-size: 1rem;
    }
    /* content */


    /* loading */
    .loading img {
        width: 40%;
    }
    /* loading */


    /* dialog oke */
    .dialog-oke .pesan {
        font-size: 1.125rem;
        padding: 1.5rem 1.75rem;
    }


    .dialog-oke .pesan .btn-accept {
        padding: 0.5rem 1.75rem;
        font-size: 1rem;
        margin-top: 0.875rem;
    }
    /* dialog oke */


}

/* berlaku untuk width window (768px - 959px) */












/* berlaku untuk width window >= 960px */

@media (min-width: 960px) {


    /* header */
    #header a {
        font-size: 2.25rem;
    }
    /* header */



    /* content */
    #content .left h2 {
        font-size: 2.875rem;
    }
    
    
    #content .left p.txt {
        margin-top: -0.125rem;
        font-size: 1.625rem;
    }


    #content .left .quotes {
        margin-top: 3rem;
    }


    #content .left .quotes p {
        font-size: 2.25rem;
    }


    #content .left .quotes p.motivator {
        font-size: 1.125rem;
    }


    #content .right h2 {
        font-size: 2.25rem;
    }


    #content .right .form {
        width: 85%;
    }


    #content .right .form .btn-right {
        font-size: 1.125rem;
    }
    /* content */


    /* loading */
    .loading img {
        width: 35%;
    }
    /* loading */


    /* dialog oke */
    .dialog-oke .pesan {
        font-size: 1.25rem;
        padding: 1.75rem 2rem;
    }


    .dialog-oke .pesan .btn-accept {
        padding: 0.75rem 2rem;
        font-size: 1.0625rem;
        margin-top: 1rem;
    }
    /* dialog oke */


}

/* berlaku untuk width window >= 960px */
