

/* berlaku untuk width window < 320px */


    /* detail product */
    #detail-product {
        padding: 2rem 0 0.25rem;
        font-family: 'Roboto';
    }


    #detail-product .bg-white {
        box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.4);
        padding: 1.125rem;
    }


    #detail-product .top .left .image-buku img {
        border: 0.0625rem solid rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
    }


    #detail-product .top .left .ket-buku p {
        margin-bottom: 0.625rem;
    }


    #detail-product .top .left .ket-buku .judul p {
        font-weight: 500;
        color: #484848;
        margin-top: 0.75rem;
        font-size: 1rem;
    }


    #detail-product .top .left .ket-buku p.title {
        color: #666;
        font-size: 0.875rem;
    }


    #detail-product .top .left .ket-buku p.value {
        color: #444;
        font-size: 0.875rem;
    }


    #detail-product .top .left .ket-buku p.harga {
        color: #1A9980;
        font-weight: 500;
        font-size: 0.875rem;
    }


    #detail-product .top .left .ket-buku p.harga span {
        display: inline-block;
        border: 0.0625rem solid #FF004D;
        color: #FF004D;
        margin-left: 0.25rem;
        padding: 0.125rem;
    }


    #detail-product .top .left .ket-buku p.harga-diskon {
        color: #666;
        text-decoration: line-through;
        margin-top: -0.625rem;
        font-size: 0.75rem;
    }


    #detail-product .top .left .ket-buku button {
        display: none;
        border: 0;
        color: #FFF;
        border-radius: 0.3125rem;
        text-transform: uppercase;
        font-weight: 500;
    }


    #detail-product .top .left .ket-buku button.btn-beli {
        background-color: #0377FF;
        transition: background-color .2s ease-in-out;
    }


    #detail-product .top .left .ket-buku button.btn-bag {
        background-color: #FF1268;
        transition: background-color .2s ease-in-out;
    }


    #detail-product .top .left .ket-buku button.btn-beli:hover {
        background-color: #1F86FF;
    }


    #detail-product .top .left .ket-buku button.btn-bag:hover {
        background-color: #FF2574;
    }


    #detail-product .top .right {
        margin-top: 1rem;
    }


    #detail-product .top .right p {
        margin-bottom: 0.25rem;
    }


    #detail-product .top .right h2.identitas-toko {
        color: #444;
        font-weight: 400;
        font-size: 1.125rem;
    }


    #detail-product .top .right .box-toko {
        border: 0.0625rem solid #AFAFAF;
        margin-top: 0.75rem;
        padding: 0.5rem 0.75rem;
    }


    #detail-product .top .right .box-toko h2.nama-toko {
        color: #484848;
        font-weight: 400;
        font-size: 0.9375rem;
    }


    #detail-product .top .right p {
        color: #666;
        font-size: 0.8125rem;
        margin-bottom: 0.5rem;

    }


    #detail-product .bottom {
        margin-top: 1rem;
        margin-bottom: 1.75rem;
    }


    #detail-product .bottom .left {
        color: #444;
    }


    #detail-product .bottom .left .txt-deskripsi h2 {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1rem;
    }


    #detail-product .bottom .left .deskripsi p.desk {
        text-align: justify;
        margin-top: 0.25rem;
        font-size: 0.8125rem;
    }


    #detail-product .bottom .left .deskripsi p.read-more span {
        color: #AAA;
        font-weight: 500;
        cursor: pointer;
        font-size: 0.875rem;
    }


    #detail-product .bottom .right {
        display: none;
    }


    #detail-product .bottom .right button {
        border: 0;
        color: #FFF;
        border-radius: 0.3125rem;
        text-transform: uppercase;
        font-weight: 500;
    }


    #detail-product .bottom .right button.btn-beli {
        background-color: #0377FF;
        transition: background-color .2s ease-in-out;
    }


    #detail-product .bottom .right button.btn-bag {
        background-color: #FF1268;
        transition: background-color .2s ease-in-out;
    }


    #detail-product .bottom .right button.btn-beli:hover {
        background-color: #1F86FF;
    }


    #detail-product .bottom .right button.btn-bag:hover {
        background-color: #FF2574;
    }


    #detail-product .btn-fixed-bottom {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }


    #detail-product .btn-fixed-bottom button {
        padding: 0.9375rem 0;
        border: 0;
        text-transform: uppercase;
        color: #FFF;
        font-size: 0.9375rem;
    }


    #detail-product .btn-fixed-bottom button.beli {
        width: 77%;
        font-weight: 500;
        background-color: #0377FF;
    }


    #detail-product .btn-fixed-bottom button.wishlist {
        width: 23%;
        background-color: #FF1268;
        margin-left: -0.25rem;
    }


    #detail-product .btn-fixed-bottom button.beli:hover {
        background-color: #1F86FF;
    }


    #detail-product .btn-fixed-bottom button.bag:hover {
        background-color: #FF2574;
    }
    /* detail product */


/* berlaku untuk width window < 320px */












/* berlaku untuk width window (320px - 479px) */

@media (min-width: 320px) {


    /* detail product */
    #detail-product {
        padding: 2.25rem 0 0.25rem;
    }


    #detail-product .bg-white {
        padding: 0.4375rem;
    }


    #detail-product .top .left .image-buku img {
        width: 9.875rem;
        height: 15.5rem;
    }


    #detail-product .top .left .ket-buku p {
        margin-bottom: 0.4375rem;
    }


    #detail-product .top .left .ket-buku .judul p {
        margin-top: 0;
        font-size: 0.875rem;
    }


    #detail-product .top .left .ket-buku p.title {
        font-size: 0.75rem;
    }


    #detail-product .top .left .ket-buku p.value {
        font-size: 0.75rem;
    }


    #detail-product .top .left .ket-buku p.harga {
        font-size: 0.75rem;
    }


    #detail-product .top .left .ket-buku p.harga span {
        margin-left: 0.1875rem;
        padding: 0.0625rem;
    }


    #detail-product .top .left .ket-buku p.harga-diskon {
        margin-top: -0.125rem;
        font-size: 0.6875rem;
    }


    #detail-product .top .right {
        margin-top: 0.5rem;
    }


    #detail-product .top .right p {
        margin-bottom: 0.25rem;
    }


    #detail-product .top .right h2.identitas-toko {
        font-size: 1.0625rem;
    }


    #detail-product .top .right .box-toko {
        margin-top: 1rem;
        padding: 0.25rem 0.5rem;
    }


    #detail-product .top .right .box-toko h2.nama-toko {
        font-size: 0.875rem;
    }


    #detail-product .top .right p {
        font-size: 0.75rem;
        margin-bottom: 0.25rem;

    }


    #detail-product .bottom {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }


    #detail-product .bottom .left .txt-deskripsi h2 {
        font-size: 0.9375rem;
    }


    #detail-product .bottom .left .deskripsi p.desk {
        margin-top: 0.375rem;
        font-size: 0.75rem;
    }


    #detail-product .bottom .left .deskripsi p.read-more span {
        font-size: 0.8125rem;
    }


    #detail-product .btn-fixed-bottom button {
        font-size: 1rem;
    }


    #detail-product .btn-fixed-bottom button.beli {
        width: 81%;
    }


    #detail-product .btn-fixed-bottom button.wishlist {
        width: 19%;
    }
    /* detail product */


}

/* berlaku untuk width window (320px - 479px) */












/* berlaku untuk width window (480px - 767px) */

@media (min-width: 480px) {


    /* detail product */
    #detail-product {
        padding: 2.75rem 0 0.25rem;
    }


    #detail-product .bg-white {
        padding: 0.75rem;
    }


    #detail-product .top .left .image-buku img {
        width: 9.875rem;
        height: 15.5rem;
    }


    #detail-product .top .left .ket-buku {
        padding: 0;
    }


    #detail-product .top .left .ket-buku p {
        margin-bottom: 0.6875rem;
    }


    #detail-product .top .left .ket-buku .judul p {
        font-weight: 500;
        color: #484848;
        font-size: 1.125rem;
    }


    #detail-product .top .left .ket-buku p.title {
        color: #666;
        font-size: 0.875rem;
    }


    #detail-product .top .left .ket-buku p.value {
        color: #444;
        font-size: 0.875rem;
    }


    #detail-product .top .left .ket-buku p.harga {
        color: #1A9980;
        font-weight: 500;
        font-size: 0.875rem;
    }


    #detail-product .top .left .ket-buku p.harga span {      
        margin-left: 0.25rem;
        padding: 0.125rem 0.1875rem;
    }


    #detail-product .top .left .ket-buku p.harga-diskon {
        margin-top: -0.5rem;
        font-size: 0.75rem;
    }


    #detail-product .top .right {
        margin-top: 0.75rem;
    }


    #detail-product .top .right p {
        margin-bottom: 0.5rem;
    }


    #detail-product .top .right h2.identitas-toko {
        font-size: 1.25rem;
    }


    #detail-product .top .right .box-toko {
        margin-top: 1rem;
        padding: 0.5rem 0.75rem;
    }


    #detail-product .top .right .box-toko h2.nama-toko {
        font-size: 1rem;
    }


    #detail-product .top .right p {
        font-size: 0.8125rem;
    }


    #detail-product .bottom {
        margin-top: 0.75rem;
        margin-bottom: 3rem;
    }


    #detail-product .bottom .left .txt-deskripsi h2 {
        font-size: 1.125rem;
    }


    #detail-product .bottom .left .deskripsi p.desk {
        margin-top: 0.375rem;
        font-size: 0.875rem;
    }


    #detail-product .bottom .left .deskripsi p.read-more span {
        font-size: 0.9375rem;
    }


    #detail-product .btn-fixed-bottom button {
        font-size: 1.0625rem;
    }



    #detail-product .btn-fixed-bottom button.beli {
        width: 84%;
    }


    #detail-product .btn-fixed-bottom button.wishlist {
        width: 16%;
    }
    /* detail product */


}

/* berlaku untuk width window (480px - 767px) */












/* berlaku untuk width window (768px - 959px) */

@media (min-width: 768px) {


    /* detail product */
    #detail-product {
        padding: 3.25rem 0 0.25rem;
    }


    #detail-product .bg-white {
        padding: 1rem;
    }


    #detail-product .top .left .image-buku img {
        width: 10rem;
        height: 16rem;
    }


    #detail-product .top .left .ket-buku {
        padding-left: 0.875rem;
    }


    #detail-product .top .left .ket-buku p {
        margin-bottom: 0.875rem;
    }


    #detail-product .top .left .ket-buku .judul p {
        font-size: 1rem;
    }


    #detail-product .top .left .ket-buku p.title {
        font-size: 0.8125rem;
    }


    #detail-product .top .left .ket-buku p.value {
        font-size: 0.8125rem;
    }


    #detail-product .top .left .ket-buku p.harga {
        font-size: 0.8125rem;
    }


    #detail-product .top .left .ket-buku p.harga span {
        padding: 0.0625rem 0.125rem;
    }


    #detail-product .top .left .ket-buku p.harga-diskon {
        margin-top: -0.75rem;
        font-size: 0.6875rem;
    }


    #detail-product .top .left .ket-buku button {
        display: inline-block;
        padding: 0.5625rem;
        width: 44%;
        margin-right: 1%;
        font-size: 0.6875rem;
    }


    #detail-product .top .right {
        margin-top: 0;
    }


    #detail-product .top .right p {
        margin-bottom: 0.25rem;
    }


    #detail-product .top .right h2.identitas-toko {
        font-size: 1.125rem;
    }


    #detail-product .top .right .box-toko {
        padding: 0.25rem 0.5rem;
    }


    #detail-product .top .right .box-toko h2.nama-toko {
        font-size: 0.9375rem;
    }


    #detail-product .top .right p {
        font-size: 0.75rem;
    }


    #detail-product .bottom {
        margin-top: 1rem;
        margin-bottom: 4rem;
    }


    #detail-product .bottom .left .txt-deskripsi h2 {
        font-size: 1rem;
    }


    #detail-product .bottom .left .deskripsi p.desk {
        margin-top: 0.25rem;
        font-size: 0.8125rem;
    }


    #detail-product .bottom .left .deskripsi p.read-more span {
        font-size: 0.875rem;
    }


    #detail-product .bottom .right {
        margin-top: 0;
    }


    #detail-product .bottom .right .image-buku img {
        border: 0.0625rem solid rgba(0, 0, 0, 0.3);
        width: 4.25rem;
        height: 6.375rem;
    }


    #detail-product .bottom .right .ket-buku {
        margin-left: 0;
    }


    #detail-product .bottom .right .ket-buku p {
        margin-bottom: 0.1875rem;
    }


    #detail-product .bottom .right .ket-buku p.judul-buku {
        font-size: 0.8125rem;
    }


    #detail-product .bottom .right .ket-buku p.harga {
        color: #1A9980;
        font-weight: 500;
        font-size: 0.75rem;
    }


    #detail-product .bottom .right .ket-buku p.diskon {
        display: inline-block;
        border: 0.0625rem solid #FF004D;
        color: #FF004D;
        font-weight: 500;
        font-size: 0.625rem;
        padding: 0.0625rem 0.1875rem;
    }


    #detail-product .bottom .right button {
        width: 100%;
        padding: 0.4375rem 0;
        font-size: 0.5625rem;
        margin-top: 0.5rem;
    }


    #detail-product .btn-fixed-bottom {
        display: none;
    }
    /* detail product */

    
}

/* berlaku untuk width window (768px - 959px) */












/* berlaku untuk width window >= 960px */

@media (min-width: 960px) {


    /* detail product */
    #detail-product {
        padding: 3.5rem 0 0.5rem;
    }


    #detail-product .bg-white {
        padding: 1.5rem;
    }


    #detail-product .top .left .image-buku img {
        width: 14.25rem;
        height: 21.25rem;
    }


    #detail-product .top .left .ket-buku {
        padding-left: 0;
    }


    #detail-product .top .left .ket-buku p {
        margin-bottom: 1rem;
    }


    #detail-product .top .left .ket-buku .judul p {
        font-size: 1.5rem;
    }


    #detail-product .top .left .ket-buku p.title {      
        font-size: 1rem;
    }


    #detail-product .top .left .ket-buku p.value {
        font-size: 1rem;
    }


    #detail-product .top .left .ket-buku p.harga {
        font-size: 1rem;
    }


    #detail-product .top .left .ket-buku p.harga span {
        padding: 0.125rem 0.25rem;
        margin-left: 0.375rem;
    }


    #detail-product .top .left .ket-buku p.harga-diskon {
        margin-top: -0.5rem;
        font-size: 0.875rem;
    }


    #detail-product .top .left .ket-buku button {
        padding: 0.75rem;
        width: 42%;
        margin-right: 2%;
        font-size: 0.875rem;
    }


    #detail-product .top .right p {
        margin-bottom: 0.375rem;
    }


    #detail-product .top .right h2.identitas-toko {
        font-size: 1.5rem;
    }

    
    #detail-product .top .right .box-toko {
        margin-top: 1rem;
        padding: 0.5rem 0.75rem;
    }


    #detail-product .top .right .box-toko h2.nama-toko {
        font-size: 1.1875rem;
    }


    #detail-product .top .right p {
        font-size: 0.875rem;
    }


    #detail-product .bottom {
        margin-top: 1.25rem;
        margin-bottom: 5rem;
    }


    #detail-product .bottom .left .txt-deskripsi h2 {
        font-size: 1.375rem;
    }


    #detail-product .bottom .left .deskripsi p.desk {
        margin-top: 0.5rem;
        font-size: 0.9375rem;   
    }


    #detail-product .bottom .left .deskripsi p.read-more span {
        font-size: 1rem;
    }


    #detail-product .bottom .right .image-buku img {
        width: 6.5rem;
        height: 9.25rem;
    }


    #detail-product .bottom .right .ket-buku p {
        margin-bottom: 0.375rem;
    }


    #detail-product .bottom .right .ket-buku p.judul-buku {
        font-size: 1.125rem;
    }


    #detail-product .bottom .right .ket-buku p.harga {
        font-size: 0.9375rem;
    }


    #detail-product .bottom .right .ket-buku p.diskon {
        font-size: 0.8125rem;
        padding: 0.125rem 0.25rem;
    }


    #detail-product .bottom .right button {
        padding: 0.625rem;
        font-size: 0.6875rem;
    }
    /* detail product */


}

/* berlaku untuk width window >= 960px */
