

/* khusus desktop window < 320px */
    

    /* footer */
    #footer {
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1.25rem;
        background-color: #0064FF;
        font-family: 'Arial';
        color: #EEE;
        text-align: center;
    }



    #footer .col-footer {
        display: none;
    }


    #footer .mobile-display {
        display: block;
    }



    #footer h2 {
        font-size: 1.25rem;
        font-weight: 700;
    }



    #footer p {
        font-size: 0.875rem;
        font-weight: 300;
    }



    #footer p a {
        color: #DDD;
    }
    /* footer */


/* khusus desktop window < 320px */












/* berlaku untuk width window (320px - 479px) */

@media (min-width: 320px) {


    /* footer */
    #footer h2 {
        font-size: 1.5rem;
    }



    #footer p {
        font-size: 0.9375rem;
    }
    /* footer */


}

/* berlaku untuk width window (320px - 479px) */












/* berlaku untuk width window (480px - 767px) */

@media (min-width: 480px) {


    /* footer */
    #footer .col-footer {
        display: block;
        margin: 1rem 0;
    }



    #footer h2 {
        font-size: 1.25rem;
    }



    #footer p {
        font-size: 0.875rem;
    }
    /* footer */


}

/* berlaku untuk width window (480px - 767px) */












/* berlaku untuk width window (768px - 959px) */

@media (min-width: 768px) {


    /* footer */
    #footer h2 {
        font-size: 1.5rem;
    }
    /* footer */


}

/* berlaku untuk width window (768px - 959px) */












/* berlaku untuk width window >= 960px */

@media (min-width: 960px) {


    /* footer */
    #footer {
        text-align: left;
    }

    

    #footer .col-footer {
        margin: 0;
    }



    #footer h2 {
        font-size: 1.4375rem;
    }



    #footer p {
        font-size: 0.9375rem;
    }
    /* footer */


}

/* berlaku untuk width window >= 960px */
