/* berlaku untuk width window < 320px */


    body {
        position: relative;
    }



    /* background body fixed */
    .backgroundAll {
        position: fixed;
        z-index: -999;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #FAFAFA;
    }
    /* background body fixed */



    /* bg hover */
    .bg-hover {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: -999;
        transition: opacity .4s ease-out;
        background-color: rgba(0, 0, 0, 0.8);
    }
    /* bg hover */



    /* navbar */
    .nav-blibuku {
        background-image: linear-gradient(to bottom, #0066FF, #1D77FF);
    }


    .navbar .blibuku-brand {
        font-family: 'Viga';
        color: #FFF !important;
        font-size: 2.0625rem;
    }


    .navbar .nav-item {
        color: #FFF !important;
    }


    .nav-blibuku form {
        width: 100%;
    }


    .nav-blibuku .search {
        width: 80%;
        height: 3rem;
        border: 0.0625rem solid #0046CD;
        padding-left: 0.75rem;
        border-radius: 1.5625rem;
        outline: none;
        color: #666;
        padding-bottom: 0.125rem;
        margin: 0.5rem 0;
    }


    .nav-blibuku .cari-btn {
        width: 25%;
        height: 3rem;
        font-size: 1rem;
        padding: 0 0.625rem;
        padding-right: 0.9375rem;
        border: 0.0625rem solid #0046CD;
        background-color: #1061FF;
        border-radius: 0 1.5625rem 1.5625rem 0;
        color: #FFF;
        font-weight: 500;
        outline: none;
        margin-left: -11%;
        transition: background-color .1s ease-out;
        cursor: pointer;
    }


    .nav-blibuku .cari-btn:hover {
        color: #FFF;
        background-color: #0055FB;
    }   


    .nav-blibuku .masuk { 
        display: none;
    }

    
    .nav-blibuku .daftar {
        display: none;
    }


    .nav-blibuku .user {
        font-weight: 500;
        cursor: pointer;
    }


    .nav-blibuku .kategori {
        cursor: pointer;
    }


    .nav-blibuku .user span,
    .nav-blibuku .kategori span {
        font-size: 0.8125rem;
        padding-left: 0.125rem;
    }
    

    .nav-blibuku .user:hover + .opt-user,
    .nav-blibuku .kategori:hover + .opt-kategori {
        display: block;
        z-index: 999;
    }


    .toggle-opt {
        width: 0;
    }


    .nav-blibuku .opt-user,
    .nav-blibuku .opt-kategori {
        display: none;
        position: absolute;
        cursor: pointer;
        z-index: -999;
        width: 100%;
        left: 0;
        transition: opacity .4s ease-out;
    }
    

    .nav-blibuku .opt-user {
        top: 6.875rem
    }


    .nav-blibuku .opt-kategori {
        top: 4.25rem;
    }


    .nav-blibuku .opt-user:hover,
    .nav-blibuku .opt-kategori:hover {
        display: block;
        z-index: 999;
    }


    .nav-blibuku .opt-user .arrow span,
    .nav-blibuku .opt-kategori .arrow span {
        display: inline-block;
        background-color: #FFF;
        border-radius: 0rem 1rem 1rem 1rem;
        margin-top: 0.5rem;
        width: 1rem;
        height: 1rem;
        transform: rotate(45deg);
    }


    .nav-blibuku .opt-user .list-opt,
    .nav-blibuku .opt-kategori .list-opt {
        background-color: #FFF;
        border-radius: 0.375rem;
        padding: 0.5rem 0;
        margin-top: -1.0625rem;
    }


    .nav-blibuku .opt-kategori .list-opt {
        max-height: 18rem;
        overflow: scroll;
    }


    .nav-blibuku .opt-user .list-opt a,
    .nav-blibuku .opt-kategori .list-opt a {
        text-decoration: none;
        display: block;
        color: #555;
        font-size: 0.875rem;
        padding: 0.625rem 1.5rem;
    }


    .nav-blibuku .opt-user .list-opt a:hover,
    .nav-blibuku .opt-kategori .list-opt a:hover {
        background-color: #F2F2F2;
    }
    /* navbar */



    /* sub navbar */
    .sub-navbar {
        display: none;
        background-color: #1D77FF;
        box-shadow: 0.0625rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.5);
        padding: 0.625rem 0;
    }


    .sub-navbar .kategori {
        padding: 0;
        margin: 0;
    }


    .sub-navbar .kategori a {
        color: #FFF;
        text-decoration: none;
        margin-right: 0.9375rem;
    }


    .sub-navbar .kategori a:hover {
        color: #152F61;
    }


    .sub-navbar .kategori a li {
        display: inline-block;
        padding: 0.1875rem 0.625rem;
    }


    .sub-navbar .kategori a li:first-child {
        padding-left: 0;
    }
    /* sub navbar */


/* berlaku untuk width window < 320px */












/* berlaku untuk width window (320px - 479px) */

@media (min-width: 320px) {


    /* navbar */
    .navbar .blibuku-brand {
        font-size: 2.1875rem;
    }


    .nav-blibuku .search {
        width: 86%;
        height: 2.75rem;
    }


    .nav-blibuku .cari-btn {
        width: 20%;
        height: 2.75rem;
        margin-left: -8%;
    }


    .nav-blibuku .opt-user,
    .nav-blibuku .opt-kategori {
        width: 80%;
    }


    .nav-blibuku .opt-user .list-opt a,
    .nav-blibuku .opt-kategori .list-opt a {
        font-size: 0.875rem;
    }
    /* navbar */


}

/* berlaku untuk width window (320px - 479px) */












/* berlaku untuk width window (480px - 767px) */

@media (min-width: 480px) {


    /* navbar */
    .nav-blibuku .search {
        width: 90%;
        height: 2.5rem;
    }


    .nav-blibuku .cari-btn {
        width: 15%;
        height: 2.5rem;
        margin-left: -7%;
    }


    .nav-blibuku .opt-user,
    .nav-blibuku .opt-kategori {
        width: 47%;
    }


    .nav-blibuku .opt-user .list-opt a,
    .nav-blibuku .opt-kategori .list-opt a {
        font-size: 0.9375rem;
    }
    /* navbar */


}

/* berlaku untuk width window (480px - 767px) */












/* berlaku untuk width window (768px - 959px) */

@media (min-width: 768px) {


    /* navbar */
    .nav-blibuku .search {
        width: 96%;     
    }


    .nav-blibuku .cari-btn {
        width: 10%;
    }
    

    .nav-blibuku .opt-user,
    .nav-blibuku .opt-kategori {
        width: 35%;
    }


    .nav-blibuku .opt-user .list-opt a,
    .nav-blibuku .opt-kategori .list-opt a {
        font-size: 1rem;
    }
    /* navbar */


}

/* berlaku untuk width window (768px - 959px) */












/* berlaku untuk width window >= 960px */

@media (min-width: 960px) {


    /* navbar */    
    .nav-blibuku {
        position: relative;
    }


    .nav-blibuku .nav-item {
        margin-right: 0.625rem;        
        padding: 0.3125rem 1.25rem !important;
        border-radius: 1.25rem;
    }


    .nav-blibuku .masuk {
        background-color: #5F32DC;
        border: 0.125rem solid #501EDC;
        font-weight: 500;
    }


    .nav-blibuku .masuk:hover {
        background-color: #FFF;
        color: #6F4AD7 !important;
        text-decoration: none;
    }


    .nav-blibuku .daftar {
        border: 0.125rem solid #501EDC;
    }


    .nav-blibuku .daftar:hover {
        background-color: #5F32DC;
        color: white !important;
        text-decoration: none;
    }


    .nav-blibuku .bag {
        font-size: 1.1875rem;
    }


    .nav-blibuku .bag:hover {
        text-decoration: none;
    }


    .nav-blibuku {
        position: relative;
    }


    .nav-blibuku form {
        width: 0;
    }


    .nav-blibuku .search {
        position: absolute;
        top: 30%;
        left: 31.99451%;
        width: 30.326%;
        height: 2.1875rem;
        font-size: 0.9375rem;
        margin: 0;  
    }


    .nav-blibuku .cari-btn {
        position: absolute;
        top: 30%;
        right: 34.87490%;
        width: 6.44427%;
        height: 2.1875rem;
        font-size: 1.125rem;
    }


    .nav-blibuku .kategori {
        display: none;
    }


    .nav-blibuku .user {
        margin-top: 0.203125rem;
    }


    .nav-blibuku .user:hover + .opt-user {
        opacity: 1;
    }


    .nav-blibuku .user span {
        font-size: 0.875rem;
        padding-left: 0.25rem;
    }


    .nav-blibuku .opt-user {
        width: 85%;
        left: 1rem;
        top: 2.375rem;
    }
    /* navbar */


    /* sub navbar */
    .sub-navbar {
        display: block;
    }
    /* sub navbar */


}

/* berlaku untuk width window >= 960px */
