

/* berlaku untuk width window < 320px */


    /* header */
    #header {
        font-family: 'Viga';
        margin-top: 1.25rem;
        margin-left: 1.25rem;
    }


    #header a {
        color: #0066FF;
        text-decoration: none;
        font-size: 1.75rem;
    }
    /* header */



    /* content */
    #content {
        margin: 5rem 0;
        font-family: 'Roboto';
    }


    #content .right h2 {
        margin-bottom: 7%;
        color: #555;
        font-weight: 400;
        text-align: center;
        padding-top: 0.4375rem;
        font-size: 1.375rem;
    }


    #content .right .form {
        color: #333;
        font-weight: 300;
        width: 100%;
        font-size: 0.8125rem;
    }


    #content .right .form input {
        font-size: 0.75rem;
    }


    #content .right .form small {
        color: #DA0000 !important;
    }


    #content .right .form input:focus {
        border: 0.0625rem solid #A8C5FF;
        box-shadow: 0rem 0rem 0.25rem 0.09375rem #A8C5FF;
    }


    #content .right .form .btn-right {
        width: 100%;
        font-weight: 500;
        color: #FFF;
        background-color: #FF8A00;
        font-size: 0.8125rem;
    }


    #content .right .form .btn-right:hover {
        background-color: #FF9416;
    }
    /* content */


/* berlaku untuk width window < 320px */












/* berlaku untuk width window (320px - 479px) */

@media (min-width: 320px) {


    /* header */
    #header a {
        font-size: 2rem;
    }
    /* header */



    /* content */
    #content .right h2 {
        font-size: 1.5rem;
    }


    #content .right .form {
        font-size: 0.875rem;
    }


    #content .right .form input {
        font-size: 0.8125rem;
    }


    #content .right .form .btn-right {
        font-size: 0.9375rem;
    }
    /* content */


}

/* berlaku untuk width window (320px - 479px) */












/* berlaku untuk width window (480px - 767px) */

@media (min-width: 480px) {


    /* content */
    #content .left {
        position: relative;
    }


    #content .left h2 {
        color: #0085FF;
        font-weight: 400;
        text-align: left;
        font-size: 1.75rem;
    }


    #content .left p.txt {
        margin-top: -0.125rem;        
        text-align: left;
        font-size: 0.875rem;
        color: #2797FF;
    }


    #content .left .quotes {
        margin-top: 1.5rem;
        text-align: center;
        font-weight: 500;
    }


    #content .left .quotes p {
        font-size: 1.375rem;
        color: #DBEEFF;
    }


    #content .left .quotes p span {
        color: #C9E5FF;
    }


    #content .left .quotes p.motivator {
        font-size: 0.875rem;
    }


    #content .right h2 {
        font-size: 1.5rem;
    }


    #content .right .form {
        font-size: 0.9375rem;
    }


    #content .right .form input {
        font-size: 0.875rem;
    }


    #content .right .form .btn-right {
        font-size: 0.875rem;
    }
    /* content */


}

/* berlaku untuk width window (480px - 767px) */













/* berlaku untuk width window (768px - 959px) */

@media (min-width: 768px) {


    /* content */
    #content .left h2 {
        text-align: left;
        font-size: 2rem;
    }


    #content .left p.txt {
        margin-top: -0.25rem;
        font-size: 1.1875rem;
    }


    #content .left .quotes {
        margin-top: 2rem;
    }


    #content .left .quotes p {
        font-size: 1.75rem;
    }


    #content .left .quotes p.motivator {
        font-size: 1rem;
    }


    #content .right h2 {
        text-align: left;
        font-size: 1.75rem;
    }


    #content .right .form {
        font-size: 1rem;
    }


    #content .right .form input {
        font-size: 0.9375rem;
    }


    #content .right .form .btn-right {
        font-size: 1rem;
    }
    /* content */


}

/* berlaku untuk width window (768px - 959px) */












/* berlaku untuk width window >= 960px */

@media (min-width: 960px) {


    /* header */
    #header a {
        font-size: 2.25rem;
    }

    /* header */



    /* content */
    #content .left h2 {
        font-size: 2.875rem;
    }


    #content .left p.txt {
        margin-top: -0.125rem;
        font-size: 1.625rem;
    }


    #content .left .quotes {
        margin-top: 3rem;
    }


    #content .left .quotes p {
        font-size: 2.25rem;
    }


    #content .left .quotes p.motivator {
        font-size: 1.125rem;
    }


    #content .right h2 {
        font-size: 2.25rem;
    }


    #content .right .form {
        width: 85%;
    }


    #content .right .form .btn-right {
        font-size: 1.125rem;
    }
    /* content */


}

/* berlaku untuk width window >= 960px */
