/* berlaku untuk width window < 320px */


    /* content */
    .content {
        position: relative;
        padding-top: 2rem;
    }


    .content .header {
        position: relative;
    }


    .content .header h2 {
        font-family: 'Times New Roman', Times, serif;
        color: #333;
        font-size: 1.5rem;
    }


    .content .header hr {
        display: none;
        position: absolute;
        border-radius: 1.25rem;
        border: 0.1875rem solid #E0EBFF;
    }


    .content .slider-container {
        width: 100%;
        position: relative;
        overflow: scroll;
    }


    ::-webkit-scrollbar {
        display: none;
    }


    .content .slider-container .slides-items {
        width: 100.5625rem;     
        transition: margin 0.625s ease-in-out;
    }


    .content .slider-container .slides-items img {
        width: 8rem;
        height: 13rem;
        margin-right: 0.125rem;  
    }


    .prod-hover {
        transition: .1s;
    }


    .prod-hover:hover {
        box-shadow: 0rem 0rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }


    .content .slider-container .kanan,
    .content .slider-container .kiri {
        display: none;
        position: absolute;
        text-align: center;     
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        font-size: 1.25rem;
        top: 4.875rem;
        background-color: rgba(255, 255, 255, 0.9);
        color: black;
    }


    .content .slider-container .kanan:hover,
    .content .slider-container .kiri:hover {
        background-color: rgba(52, 95, 204, 0.9);
        color: white;
    }


    .content .slider-container .kanan {
        right: 0.25rem;
        border-radius: 0 0.625rem 0.625rem 0;
    }


    .content .slider-container .kiri {
        left: 0.25rem;
        border-radius: 0.625rem 0 0 0.625rem;
    }
    /* content */



    /* cartoon music */
    .cartoon-music .music {
        margin-top: 2rem;
    }
    /* cartoon music */



    /* promo murah */
    #promo-murah {
        padding: 2rem 0 1rem;
        margin: 0;
    }


    #promo-murah .header {
        position: relative;
    }


    #promo-murah .header h2 {
        font-family: 'Times New Roman', Times, serif;
        color: #333;
        font-size: 1.5rem;
    }


    #promo-murah .header hr {
        display: none;
        border: 0.1875rem solid #E0EBFF;
        border-radius: 3.125rem;
        position: absolute;
    }


    #promo-murah .items-buku-promo {
        margin-top: 0.75rem;
    }


    #promo-murah .items-buku-promo .buku {
        margin-bottom: 1rem;
    }


    #promo-murah .items-buku-promo .buku a {
        text-decoration: none;
    }


    #promo-murah .items-buku-promo .buku .card-buku {
        padding: 1.25rem 1.25rem 0;
        border: 0.0625rem solid #D5D5D5;
        border-radius: 0.5rem;
        height: 100%;
        overflow: hidden;
    }


    #promo-murah .items-buku-promo .buku .card-buku:hover {
        border: 0.0625rem solid #589BFF;
    }


    #promo-murah .items-buku-promo .buku .card-buku img {
        width: 100%;
        height: 20.5rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku {
        margin-top: 1rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku h5.judul-buku {
        color: #444;
        font-weight: 400;
        font-size: 1.125rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.harga-buku {
        color: #1A9980;
        font-weight: 400;
        font-size: 1rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.harga-buku span {
        display: inline-block;
        color: #FC275A;
        font-weight: 500;
        border: 0.0625rem solid #FC275A;
        margin-left: 0.25rem;
        font-size: 0.875rem;
        padding: 0.125rem 0.25rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.diskon-buku {
        color: #626B61;
        text-decoration: line-through;
        margin-top: -0.875rem;
        font-size: 0.8125rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.desk-buku {
        color: #676767;
        text-align: left;
        font-size: 0.8125rem;
        margin-top: -0.375rem;
    }
    /* promo murah */


/* berlaku untuk width window < 320px */












/* berlaku untuk width window (320px - 479px) */

@media (min-width: 320px) {


    /* content */
    .content {
        padding-top: 2.25rem;
    }


    .content .header h2 {
        font-size: 1.625rem;
    }


    .content .header hr {
        display: block;
        top: -0.0625rem;
        right: 0;
    }


    .content .slider-container .slides-items {
        width: 109.5625rem;
    }


    .content .slider-container .slides-items img {
        width: 8.75rem;
        height: 14.25rem;
        margin-right: 0.125rem;
    }


    .content .slider-container .kanan,
    .content .slider-container .kiri {
        width: 2.5rem;
        height: 2.1875rem;
        font-size: 1.375rem;
        top: 5.25rem;
    }
    /* content */



    /* promote */
    .promote .header hr {
        width: 50%;
    }
    /* promote */



    /* cartoon music */
    .cartoon-music .cartoon .header hr {
        width: 63%;
    }


    .cartoon-music .music .header hr {
        width: 70%;
    }


    .cartoon-music .music {
        margin-top: 2.25rem;
    }
    /* cartoon music */



    /* indonesian */
    .indonesian .header hr {
        width: 35%;
    }
    /* indonesian */



    /* promo murah */
    #promo-murah {
        padding: 2.25rem 0 1.25rem;
    }


    #promo-murah .header h2 {
        font-size: 1.625rem;
    }


    #promo-murah .header hr {
        display: block;
        top: -0.25rem;
        right: 0;
        width: 12%;
    }


    #promo-murah .items-buku-promo {
        margin-top: 0.625rem;
    }


    #promo-murah .items-buku-promo .buku {
        margin-bottom: 1.625rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku {
        padding: 0.75rem 0.75rem 0;
    }


    #promo-murah .items-buku-promo .buku .card-buku img {
        height: 12rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku {
        margin-top: 0.625rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku h5.judul-buku {
        font-size: 1.0625rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.harga-buku {
        font-size: 0.875rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.harga-buku span {
        margin-left: 0;
        font-size: 0.8125rem;
        padding: 0.0625rem 0.1875rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.diskon-buku {
        margin-top: -0.8125rem;
        font-size: 0.75rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.desk-buku {
        font-size: 0.75rem;
        margin-top: -0.5rem;
    }
    /* promo murah */


}

/* berlaku untuk width window (320px - 479px) */












/* berlaku untuk width window (480px - 767px) */

@media (min-width: 480px) {


    /* content */
    .content {
        padding-top: 2.5rem;
    }


    .content .header h2 {
        font-size: 1.75rem;
    }


    .content .header hr {
        top: 0rem;
    }


    .content .slider-container .slides-items {
        width: 128.3125rem;
    }


    .content .slider-container .slides-items img {
        width: 10.3125rem;
        height: 16.5rem;
    }


    .content .slider-container .kanan,
    .content .slider-container .kiri {
        width: 2.75rem;
        height: 2.5rem;
        font-size: 1.625rem;
        top: 6.25rem;
    }
    /* content */


    /* promote */
    .promote .header hr {
        width: 60%;
    }
    /* promote */



    /* cartoon music */
    .cartoon-music .cartoon .header hr {
        width: 67%;
    }


    .cartoon-music .music .header hr {
        width: 72%;
    }


    .cartoon-music .music {
        margin-top: 2.5rem;
    }
    /* cartoon music */



    /* indonesian */
    .indonesian .header hr {
        width: 50%;
    }
    /* indonesian */


    /* promo murah */
    #promo-murah {
        padding: 2.5rem 0 1.5rem;
    }


    #promo-murah .header h2 {
        font-size: 1.75rem;
    }


    #promo-murah .header hr {
        top: -0.125rem;
        width: 40%;
    }


    #promo-murah .items-buku-promo {
        margin-top: 0.5rem;
    }

    
    #promo-murah .items-buku-promo .buku {
        margin-bottom: 1.75rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku {
        padding: 0.5rem 0.5rem 0;
    }


    #promo-murah .items-buku-promo .buku .card-buku img {
        height: 12.5rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku {
        margin-top: 0.5rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku h5.judul-buku {
        font-size: 1rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.harga-buku {
        font-size: 0.8125rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.harga-buku span {
        font-size: 0.6875rem;
        padding: 0.0625rem 0.125rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.diskon-buku {
        margin-top: -0.875rem;
        font-size: 0.6875rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.desk-buku {
        font-size: 0.6875rem;
        margin-top: -0.6875rem;
    }
    /* promo murah */


}

/* berlaku untuk width window (480px - 767px) */












/* berlaku untuk width window (768px - 959px) */

@media (min-width: 768px) {


    /* content */
    .content {
        padding-top: 2.75rem;
    }


    .content .header h2 {
        font-size: 2rem;
    }


    .content .header hr {
        top: 0.25rem;
    }


    .content .slider-container {
        overflow: hidden;
    }


    .content .slider-container .slides-items {
        width: 130.5625rem;
    }


    .content .slider-container .slides-items img {
        width: 10.375rem;
        height: 16.5rem;
        margin-right: 0.25rem;
    }


    .content .slider-container .kanan,
    .content .slider-container .kiri {
        display: block;
        width: 2.625rem;
        height: 2.25rem;
        font-size: 1.4375rem;
        top: 6.6875rem;
    }
    /* content */



    /* promote */
    .promote .header hr {
        width: 68%;
    }
    /* promote */



    /* cartoon music */
    .cartoon-music .cartoon .header hr {
        width: 53%;
    }


    .cartoon-music .music .header hr {
        width: 58%;
    }


    .cartoon-music .music {
        margin-top: 0;
    }
    /* cartoon music */



    /* indonesian */
    .indonesian .header hr {
        width: 60%;
    }
    /* indonesian */



    /* promo murah */
    #promo-murah {
        padding: 2.75rem 0 1.75rem;
    }


    #promo-murah .header h2 {
        font-size: 2rem;
    }


    #promo-murah .header hr {
        top: 0.0625rem;
        width: 50%;
    }


    #promo-murah .items-buku-promo {
        margin-top: 0.625rem;
    }

    
    #promo-murah .items-buku-promo .buku {
        margin-bottom: 1.8125rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku {
        padding: 0.75rem 0.75rem 0;
    }


    #promo-murah .items-buku-promo .buku .card-buku img {
        height: 17rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku {
        margin-top: 0.75rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku h5.judul-buku {
        font-size: 1.125rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.harga-buku {
        font-size: 0.9375rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.harga-buku span {
        font-size: 0.8125rem;
        padding: 0.125rem 0.25rem;
        margin-left: 0.25rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.diskon-buku {
        margin-top: -0.8125rem;
        font-size: 0.75rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.desk-buku {
        margin-top: -0.625rem;
        font-size: 0.75rem;
    }
    /* promo murah */


}

/* berlaku untuk width window (768px - 959px) */












/* berlaku untuk width window >= 960px */

@media (min-width: 960px) {


    /* content */
    .content {
        padding-top: 3rem;
    }


    .content .header h2 {
        font-size: 2.25rem;    
    }


    .content .header hr {
        top: 0.375rem;
    }


    .content .slider-container .slides-items {
        width: 139.5625rem;
    }


    .content .slider-container .slides-items img {
        width: 11.25rem;            
        height: 17.5rem;           
        margin-right: 0.125rem;    
    }


    .content .slider-container .kanan,
    .content .slider-container .kiri {
        width: 3rem;      
        height: 2.5rem;    
        font-size: 1.5rem;   
        top: 7rem;         
    }
    /* content */



    /* promote indonesian */
    .promote .header hr {
        width: 75%;
    }
    /* promote indonesian */



    /* cartoon music */
    .cartoon-music .cartoon .header hr {
        width: 65%;
    }


    .cartoon-music .music .header hr {
        width: 70%;
    }
    /* cartoon music */



    /* indonesian */
    .indonesian .header hr {
        width: 70%;
    }
    /* indonesian */



    /* promo murah */
    #promo-murah {
        padding: 3rem 0 2rem;
    }


    #promo-murah .header h2 {
        font-size: 2.25rem;    
    }


    #promo-murah .header hr {
        width: 62%;    
    }

    
    #promo-murah .items-buku-promo {
        margin-top: 0.75rem;
    }


    #promo-murah .items-buku-promo .buku {
        margin-bottom: 2rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku {
        padding: 1rem 1rem 0;
    }


    #promo-murah .items-buku-promo .buku .card-buku img {
        height: 20.5rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku {
        margin-top: 1rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku h5.judul-buku {
        font-size: 1.25rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.harga-buku {
        font-size: 1rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.harga-buku span {
        font-size: 0.875rem;
        padding: 0.0625rem 0.25rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.diskon-buku {
        margin-top: -0.75rem;
        font-size: 0.8125rem;
    }


    #promo-murah .items-buku-promo .buku .card-buku .card-body-buku p.desk-buku {
        margin-top: -0.5rem;
        font-size: 0.8125rem;
    }
    /* promo murah */


}

/* berlaku untuk width window >= 960px */
