/* berlaku untuk width window < 320px */


    /* promote content */
    #promote {
        position: relative;
    }


    #promote .header-promote {
        position: relative;
    }


    #promote .header-promote h2 {
        font-family: 'Times New Roman', Times, serif;
        color: #333;
        font-size: 2.25rem;
    }


    #promote .header-promote hr {
        display: none;
        border: 0.1875rem solid #DCDCDC;
        border-radius: 1.25rem;
        position: absolute;
    }


    #promote .slider-container-promote {
        width: 100%;
        position: relative;
        overflow: hidden;
    }


    #promote .slider-container-promote .slides-items-promote {
        width: 185.3125rem;     
        transition: all 1s ease-in-out;
    }


    #promote .slider-container-promote .slides-items-promote img {
        width: 14.0625rem;         
        height: 22.1875rem;        
        margin-right: 0.1875rem;  
    }


    .prod-hover {
        transition: .1s;
    }


    .prod-hover:hover {
        box-shadow: 0rem 0rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }


    #promote .slider-container-promote .kanan,
    #promote .slider-container-promote .kiri {
        position: absolute;
        text-align: center;
        font-size: 2.25rem;  
        top: 9.0625rem;       
        cursor: pointer;
        color: white;
    }


    #promote .slider-container-promote .kanan:hover,
    #promote .slider-container-promote .kiri:hover {
        color: rgba(0, 0, 0, 0.7);
    }


    #promote .slider-container-promote .kanan {
        right: 0.625rem;    
    }


    #promote .slider-container-promote .kiri {
        left: 0.3125rem;   
    }
    /* promote content */




    /* cartoon - horror */
    #cartoon-horror {
        margin-top: 15%;
    }


    #cartoon-horror h2 {
        font-family: 'Times New Roman', Times, serif;
        color: #333;
        font-size: 2rem;
    }


    #cartoon-horror .cartoon {
        position: relative;
    }


    #cartoon-horror .cartoon hr {
        display: none;
        border: 0.1875rem solid #DCDCDC;
        border-radius: 3.125rem;
        position: absolute;
    }


    #cartoon-horror .cartoon img {
        width: 100%;
        height: 100%;
    }


    #cartoon-horror .horror {
        position: relative;
        margin-top: 20%;
    }


    #cartoon-horror .horror hr {
        display: none;
        border: 0.1875rem solid #DCDCDC;
        border-radius: 3.125rem;
        position: absolute;
    }


    #cartoon-horror .horror img {
        width: 100%;
        height: 100%;
    }
    /* cartoon - horror */
    



    /* indonesian book content */
    #indonesian-book {
        margin-top: 15%;
    }


    #indonesian-book .header-indobook {
        position: relative;
    }


    #indonesian-book .header-indobook h2 {
        font-family: 'Times New Roman', Times, serif;
        color: #333;
        font-size: 2.2rem;
    }


    #indonesian-book .header-indobook hr {
        display: none;
        border: 0.1875rem solid #DCDCDC;
        border-radius: 3.125rem;
        position: absolute;
    }


    #indonesian-book .slider-container-indobook {
        width: 100%;
        position: relative;
        overflow: hidden;
    }


    #indonesian-book .slider-container-indobook .slides-items-indobook {
        width: 185.3125rem;     
        transition: all 1s ease-in-out;
    }


    #indonesian-book .slider-container-indobook .slides-items-indobook img {
        width: 14.0625rem;         
        height: 22.1875rem;         
        margin-right: 0.1875rem;    
    }


    #indonesian-book .slider-container-indobook .kanan,
    #indonesian-book .slider-container-indobook .kiri {
        position: absolute;
        text-align: center;
        font-size: 2.25rem;    
        top: 9.0625rem;
        cursor: pointer;
        color: white;
    }


    #indonesian-book .slider-container-indobook .kanan:hover,
    #indonesian-book .slider-container-indobook .kiri:hover {
        color: rgba(0, 0, 0, 0.7);
    }


    #indonesian-book .slider-container-indobook .kanan {
        right: 0.625rem;   
    }


    #indonesian-book .slider-container-indobook .kiri {
        left: 0.3125rem;   
    }
    /* indonesian book content */





    /* promo murah */
    #promo-murah {
        margin-top: 15%;
        margin-bottom: 7.5rem;    
    }


    #promo-murah .judul-promo-murah {
        position: relative;
    }


    #promo-murah .judul-promo-murah h2 {
        font-family: 'Times New Roman', Times, serif;
        color: #333;
        font-size: 1.6rem;
    }


    #promo-murah .judul-promo-murah hr {
        display: none;
        border: 0.1875rem solid #DCDCDC;
        border-radius: 3.125rem;
        position: absolute;
    }


    #promo-murah .items-buku-promo a {
        text-decoration: none;
    }


    #promo-murah .items-buku-promo .card-buku {
        width: 100%;
        height: 100%;
        border: 0.0625rem solid #6346D6;
        border-radius: 0.3125rem;
        overflow: hidden;
    }


    #promo-murah .items-buku-promo .card-buku:hover {
        border: 0.0625rem solid #3DB433;
    }


    #promo-murah .items-buku-promo .card-buku img {
        width: 100%;
    }


    #promo-murah .items-buku-promo .card-buku .card-body-buku {
        position: relative;
    }

    #promo-murah .items-buku-promo .card-buku .card-body-buku h5.judul-buku {
        color: #334241;
        font-weight: 400;
        font-size: 1.125rem;            
    }


    #promo-murah .items-buku-promo .card-buku .card-body-buku p.harga-buku {
        color: #FF5C00;
        font-weight: 500;
        font-size: 1.125rem;    
    }


    #promo-murah .items-buku-promo .card-buku .card-body-buku p.diskon-buku {
        color: #626B61;
        margin-top: -0.3125rem;
        font-size: 0.75rem;     
    }


    #promo-murah .items-buku-promo .card-buku .card-body-buku p.diskon-buku span {
        color: red;
        margin-left: 0.3125rem;
        padding: 0.125rem 0.3125rem;
        font-weight: 700;
        border: 0.0625rem solid red;
    }


    #promo-murah .items-buku-promo .card-buku .card-body-buku p.desk-buku {
        font-size: 0.8125rem;   
    }
    /* promo murah */


/* berlaku untuk width window < 320px */




















/* berlaku untuk width window (320px - 479px) */

@media (min-width: 320px) {


    /* promote content */
    #promote .header-promote h2 {
        font-size: 3rem;    
    }


    #promote .slider-container-promote .slides-items-promote {
        width: 164.375rem; 
    }


    #promote .slider-container-promote .slides-items-promote img {
        width: 13.3125rem;       
        height: 20.3125rem;       
        margin-right: 0.125rem; 
    }


    #promote .slider-container-promote .kanan,
    #promote .slider-container-promote .kiri {
        top: 7.8125rem;  
    }
    /* promote content */




    /* cartoon - horror */
    #cartoon-horror {
        margin-top: 10%;
    }


    #cartoon-horror h2 {
        font-size: 2.5rem;  
    }


    #cartoon-horror .horror {
        margin-top: 12%;
    }
    /* cartoon - horror */



    /* indonesian book */
    #indonesian-book {
        margin-top: 10%;
    }


    #indonesian-book .header-indobook h2 {
        font-size: 2.75rem;  
    }


    #indonesian-book .slider-container-indobook .slides-items-indobook {
        width: 164.375rem;   
    }


    #indonesian-book .slider-container-indobook .slides-items-indobook img {
        width: 13.3125rem;       
        height: 20.3125rem;      
        margin-right: 0.125rem; 
    }


    #indonesian-book .slider-container-indobook .kanan,
    #indonesian-book .slider-container-indobook .kiri {
        top: 7.8125rem;   
    }
    /* indonesian book */




    /* harga di bawah 100K */
    #promo-murah {
        margin-top: 10%;
    }


    #promo-murah .judul-promo-murah h2 {
        font-size: 2.75rem;   
    }
    /* harga di bawah 100K */


}

/* berlaku untuk width window (320px - 479px) */





















/* berlaku untuk width window (480px - 767px) */

@media (min-width: 480px) {


    /* promote content */
    #promote .header-promote h2 {
        font-size: 2.75rem;  
    }


    #promote .header-promote hr {
        display: block;
        width: 55.88235%;     
        left: 43.13725%; 
        top: 23.076923%;     
    }


    #promote .slider-container-promote .slides-items-promote {
        width: 195.3125rem;    
    }


    #promote .slider-container-promote .slides-items-promote img {
        width: 15.625rem;        
        height: 24.0625rem;      
        margin-right: 0.375rem;   
    }


    #promote .slider-container-promote .kanan,
    #promote .slider-container-promote .kiri {
        width: 4.0625rem;     
        height: 3.125rem;    
        font-size: 2rem;    
        top: 10.3125rem;     
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
    }


    #promote .slider-container-promote .kanan:hover,
    #promote .slider-container-promote .kiri:hover {
        background-color: rgba(52, 95, 204, 0.8);
        color: white;
    }


    #promote .slider-container-promote .kanan {
        border-radius: 0 0.625rem 0.625rem 0;
    }


    #promote .slider-container-promote .kiri {
        border-radius: 0.625rem 0 0 0.625rem;
    }


    #promote .slider-container-promote .kanan {
        right: 0;
    }


    #promote .slider-container-promote .kiri {
        left: 0;
    }
    /* promote content */




    /* cartoon - horror */
    #cartoon-horror {
        margin-top: 8%;
    }


    #cartoon-horror h2 {
        font-size: 2.5rem; 
    }


    #cartoon-horror .cartoon hr {
        display: block;
        top: 3.5%;
        right: 2.94117%;    
        width: 59.80392%; 
    }


    #cartoon-horror .horror {
        margin-top: 13%;
    }


    #cartoon-horror .horror hr {
        display: block;
        top: 3.5%;
        right: 2.94117%;     
        width: 63.72549%;  
    }
    /* cartoon - horror */



    /* indonesian book */
    #indonesian-book {
        margin-top: 8%;
    }


    #indonesian-book .header-indobook h2 {
        font-size: 2.75rem; 
    }


    #indonesian-book .header-indobook hr {
        display: block;
        width: 36.27450%;  
        right: 3.13725%;   
        top: 20%;         
    }


    #indonesian-book .slider-container-indobook .slides-items-indobook {
        width: 195.3125rem; 
    }


    #indonesian-book .slider-container-indobook .slides-items-indobook img {
        width: 15.625rem;          
        height: 24.0625rem;       
        margin-right: 0.375rem;    
    }


    #indonesian-book .slider-container-indobook .kanan,
    #indonesian-book .slider-container-indobook .kiri {
        width: 4.0625rem;  
        height: 3.125rem;   
        font-size: 2rem;   
        top: 10.3125rem;   
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
    }


    #indonesian-book .slider-container-indobook .kanan:hover,
    #indonesian-book .slider-container-indobook .kiri:hover {
        background-color: rgba(52, 95, 204, 0.8);
        color: white;
    }


    #indonesian-book .slider-container-indobook .kanan {
        border-radius: 0 0.625rem 0.625rem 0;
    }


    #indonesian-book .slider-container-indobook .kiri {
        border-radius: 0.625rem 0 0 0.625rem;
    }


    #indonesian-book .slider-container-indobook .kanan {
        right: 0;
    }


    #indonesian-book .slider-container-indobook .kiri {
        left: 0;
    }
    /* indonesian book */




    /* harga di bawah 100K */
    #promo-murah {
        margin-top: 8%;
    }


    #promo-murah .judul-promo-murah h2 {
        font-size: 2.75rem;   
    }


    #promo-murah .judul-promo-murah hr {
        display: block;
        top: 10%;            
        right: 3.13725%;     
        width: 15.68627%;    
    }
    /* harga di bawah 100K */


}

/* berlaku untuk width window (480px - 767px) */























/* berlaku untuk width window (768px - 959px) */

@media (min-width: 768px) {


    /* promote content */
    #promote .header-promote h2 {
        font-size: 2.5rem;   
    }


    #promote .header-promote hr {
        width: 68.84057%;   
        left: 30.43478%;    
        top: 20.83333%;     
    }


    #promote .slider-container-promote .slides-items-promote {
        width: 175rem;
    }


    #promote .slider-container-promote .slides-items-promote img {
        width: 14.0625rem;      
        height: 21.875rem;     
        margin-right: 0.25rem; 
    }
    

    #promote .slider-container-promote .kanan,
    #promote .slider-container-promote .kiri {
        width: 3.75rem;         
        height: 2.8125rem;     
        font-size: 1.8125rem;   
        top: 9.6875rem;       
    }
    /* promote content */




    /* cartoon - horror */
    #cartoon-horror {
        margin-top: 4%;
    }


    #cartoon-horror h2 {
        font-size: 2.5rem;    
    }


    #cartoon-horror .cartoon hr {
        top: 2.5%;
        right: 2.17391%;    
        width: 71.014492%;   
    }


    #cartoon-horror .horror {
        margin-top: 5%;
    }

    
    #cartoon-horror .horror hr {
        top: 2%;
        right: 2.17391%;     
        width: 73.91304%;   
    }
    /* cartoon - horror */

    


    /* indonesian book */
    #indonesian-book {
        margin-top: 5%;
    }


    #indonesian-book .header-indobook h2 {
        font-size: 2.5rem; 
    }


    #indonesian-book .header-indobook hr {
        width: 53.62318%;   
        right: 2.31884%;    
        top: 16.07142%;     
    }


    #indonesian-book .slider-container-indobook .slides-items-indobook {
        width: 175rem;       
    }


    #indonesian-book .slider-container-indobook .slides-items-indobook img {
        width: 14.0625rem;       
        height: 21.875rem;      
        margin-right: 0.25rem;   
    }


    #indonesian-book .slider-container-indobook .kanan,
    #indonesian-book .slider-container-indobook .kiri {
        width: 3.75rem;      
        height: 2.8125rem;     
        font-size: 1.8125rem; 
        top: 9.6875rem;       
    }
    /* indonesian book */



    /* harga di bawah 100K */
    #promo-murah {
        margin-top: 5%;
    }


    #promo-murah .judul-promo-murah h2 {
        font-size: 2.5rem;   
    }


    #promo-murah .judul-promo-murah hr {
        top: 10.71428%;      
        right: 2.31884%;     
        width: 39.13043%;   
    }
    /* harga di bawah 100K */


}

/* berlaku untuk width window (768px - 959px) */



























/* berlaku untuk width window >= 960px */

@media (min-width: 960px) {


    /* promote content */
    #promote .header-promote h2 {
        font-size: 2.25rem;    
    }


    #promote .header-promote hr {
        width: 81.08108%;     
        left: 18.28828%;      
        top: 11.62790%;    
    }


    #promote .slider-container-promote .slides-items-promote {
        width: 140.625rem;
    }


    #promote .slider-container-promote .slides-items-promote img {
        width: 11.25rem;            
        height: 17.5rem;           
        margin-right: 0.125rem;    
    }


    #promote .slider-container-promote .kanan,
    #promote .slider-container-promote .kiri {
        width: 3.1254rem;      
        height: 2.1875rem;    
        font-size: 1.375rem;   
        top: 7.5rem;         
    }
    /* promote content */




    /* cartoon - horror */
    #cartoon-horror h2 {
        font-size: 2.25rem; 
    }


    #cartoon-horror .cartoon hr {
        top: 2%;   
        right: 2.77777%;    
        width: 64.81481%;   
    }


    #cartoon-horror .horror {
        margin-top: 0;
    }


    #cartoon-horror .horror hr {
        top: 2%;
        right: 2.7777%;   
        width: 66.66666%;  
    }
    /* cartoon - horror */




    /* indonesian book content */
    #indonesian-book {
        margin-top: 4%;
    }


    #indonesian-book .header-indobook h2 {
        font-size: 2.25rem;  
    }


    #indonesian-book .header-indobook hr {
        top: 9.80392%;       
        right: 1.53153%;     
        width: 69.81981%;   
    }


    #indonesian-book .slider-container-indobook .slides-items-indobook {
        width: 140.625rem;  
    }


    #indonesian-book .slider-container-indobook .slides-items-indobook img {
        width: 11.25rem;       
        height: 17.5rem;        
        margin-right: 0.125rem  
    }


    #indonesian-book .slider-container-indobook .kanan,
    #indonesian-book .slider-container-indobook .kiri {
        top: 45%;
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
    }


    #indonesian-book .slider-container-indobook .kanan:hover,
    #indonesian-book .slider-container-indobook .kiri:hover {
        background-color: rgba(52, 95, 204, 0.8);
        color: white;
    }


    #indonesian-book .slider-container-indobook .kanan {
        border-radius: 0 0.625rem 0.625rem 0;
    }


    #indonesian-book .slider-container-indobook .kiri {
        border-radius: 0.625rem 0 0 0.625rem;
    }


    #indonesian-book .slider-container-indobook .kanan,
    #indonesian-book .slider-container-indobook .kiri {
        width: 3.1254rem;    
        height: 2.1875rem;     
        font-size: 1.375rem; 
        top: 7.5rem;        
    }
    /* indonesian book content */




    /* harga di bawah 100K */
    #promo-murah {
        margin-top: 4%;
    }


    #promo-murah .judul-promo-murah h2 {
        font-size: 2.25rem;    
    }


    #promo-murah .judul-promo-murah hr {
        top: 9.80392%;      
        right: 1.53153%;   
        width: 63.06306%;    
    }
    /* harga di bawah 100K */
}

/* berlaku untuk width window >= 960px */











