

/* berlaku untuk width window < 320px */


    /* content */
    #content {
        margin: 2rem 0;
        font-family: 'Roboto';
    }


    #content .left .metode-pembayaran,
    #content .right .ringkasan-pemesanan {
        margin-top: 1rem;
        padding: 0.75rem 1rem;
        border: 0.0625rem solid #CCC;
        color: #333;
    }
    /* content */


/* berlaku untuk width window < 320px */











/* berlaku untuk width window >= 960px */

@media (min-width: 960px) {


    /* content */
    #content {
        margin: 3.5rem 0;
    }


    #content .left .metode-pembayaran {
        padding: 1rem 1.5rem;
    }


    #content .left .metode-pembayaran h2.judul,
    #content .right .ringkasan-pemesanan h2.judul {
        font-size: 1.25rem;
    }


    #content .left .metode-pembayaran .list-metode {
        padding: 0 1rem;
    }


    #content .left .metode-pembayaran .list-metode div.mg-top {
        margin-top: 1.5rem;
    }


    #content .left .metode-pembayaran .list-metode input {
        margin-right: 1rem;
    }


    #content .left .metode-pembayaran .list-metode label {
        font-size: 1.0625rem;
        font-weight: 500;
    }


    #content .left .metode-pembayaran .list-metode img {
        width: 6rem;
        height: 3rem;
    }
    /* content */


}

/* berlaku untuk width window >= 960px */