
/* berlaku untuk width window < 320px */


    /* content */
    #content .right .rbody label {
        font-size: 1rem;
        font-weight: 500;
    }



    #content .right .rbody label span {
        color: #DD0000;
    }



    #content .right .rbody input,
    #content .right .rbody select {
        font-size: 1rem;
        color: #000;
    }



    #content .right .rbody small {
        font-size: 0.875rem;
        display: none;
        color: #DA0000 !important;
    }



    #content .right .rbody small#error-ttl {
        margin-top: -0.75rem;
    }



    #content .right .rbody .ttl .txt-ttl {
        margin: 0;
    }



    #content .right .rbody input:focus,
    #content .right .rbody select:focus {
        border: 0.0625rem solid #B38FFF;
        box-shadow: 0rem 0rem 0.25rem 0.09375rem #B38FFF;
    }



    #content .right .rbody .col-12 input {
        width: 100%;
    }



    #content .right .rbody input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }



    #content .right .rbody input[type="radio"]:focus {
        box-shadow: 0 0 0;
    }



    #content .right .rbody button.btn-simpan {
        padding: 0.75rem 2.5rem;
        margin-top: 1.75rem;
        font-size: 1rem;
        border-radius: 0.3125rem;
        display: block;
        border: 0;
        background-color: #8811FF;
        color: #FFF;
        font-weight: 500;
        transition: background-color .2s;
    }



    #content .right .rbody button.btn-simpan:hover {
        background-color: #8000FF;
    }
    /* content */


/* berlaku untuk width window < 320px */















/* berlaku untuk width window (320px - 479px) */

@media (min-width: 320px) {


    /* content */
    #content .right .rbody label {
        font-size: 0.9375rem;
    }



    #content .right .rbody input,
    #content .right .rbody select {
        font-size: 0.9375rem;
    }



    #content .right .rbody small {
        font-size: 0.8125rem;
    }



    #content .right .rbody button.btn-simpan {
        padding: 0.625rem 2.25rem;
        margin-top: 1.5rem;
        font-size: 0.875rem;
    }



    #content .right .rbody button.btn-simpan:hover {
        background-color: #8000FF;
    }
    /* content */


}

/* berlaku untuk width window (320px - 479px) */















/* berlaku untuk width window (480px - 767px) */

@media (min-width: 480px) {


    /* content */
    #content .right .rbody label {
        font-size: 0.8125rem;
    }



    #content .right .rbody input,
    #content .right .rbody select {
        font-size: 0.8125rem;
    }



    #content .right .rbody small {
        font-size: 0.75rem;
    }



    #content .right .rbody button.btn-simpan {
        padding: 0.6875rem 2.5rem;
        margin-top: 1.25rem;
        font-size: 0.8125rem;
    }
    /* content */


}

/* berlaku untuk width window (480px - 767px) */
















/* berlaku untuk width window (768px - 959px) */

@media (min-width: 768px) {


    /* content */
    #content .right .rbody label {
        font-size: 0.875rem;
    }



    #content .right .rbody input,
    #content .right .rbody select {
        font-size: 0.875rem;
    }



    #content .right .rbody small {
        font-size: 0.8125rem;
    }



    #content .right .rbody .col-12 input {
        width: 90%;
    }



    #content .right .rbody button.btn-simpan {
        padding: 0.75rem 3rem;
        margin-top: 1.5rem;
        font-size: 0.875rem;
    }
    /* content */


}

/* berlaku untuk width window (768px - 959px) */


















/* berlaku untuk width window >= 960px */

@media (min-width: 960px) {


    /* content */
    #content .right .rbody .col-12 input {
        width: 65%;
    }



    #content .right .rbody button.btn-simpan {
        margin-top: 2rem;
        font-size: 0.9375rem;
    }
    /* content */


}

/* berlaku untuk width window >= 960px */
