
/* berlaku untuk width window < 320px */


    /* pencarian buku */
    #pencarian-buku {
        padding-top: 1.5rem;
        margin-bottom: 5rem;
    }


    #pencarian-buku .items-search a {
        text-decoration: none;
    }


    #pencarian-buku .items-search .card-buku {
        width: 100%;
        height: 100%;
        border: 0.0625rem solid #6346D6;
        border-radius: 0.3125rem;
        overflow: hidden;
    }


    #pencarian-buku .items-search .card-buku:hover {
        border: 0.0625rem solid #3DB433;
    }


    #pencarian-buku .items-search .card-buku img {
        width: 100%;
    }


    #pencarian-buku .items-search .card-buku .card-body-buku {
        position: relative;
    }

    #pencarian-buku .items-search .card-buku .card-body-buku h5.judul-buku {
        color: #334241;
        font-weight: 400;
        font-size: 1.125rem;
    }


    #pencarian-buku .items-search .card-buku .card-body-buku p.harga-buku {
        color: #FF5C00;
        font-weight: 500;
        font-size: 1.125rem;
    }


    #pencarian-buku .items-search .card-buku .card-body-buku p.diskon-buku {
        color: #626B61;
        margin-top: -0.3125rem;
        font-size: 0.75rem;
    }


    #pencarian-buku .items-search .card-buku .card-body-buku p.diskon-buku span {
        color: red;
        margin-left: 0.3125rem;
        padding: 0.125rem 0.3125rem;
        font-weight: 700;
        border: 0.0625rem solid red;
    }


    #pencarian-buku .items-search .card-buku .card-body-buku p.desk-buku {
        font-size: 0.8125rem;
    }
    /* pencarian buku */


/* berlaku untuk width window < 320px */












/* berlaku untuk width window (320px - 479px) */

@media (min-width: 320px) {

    /* pencarian buku */
    #pencarian-buku {
        padding-top: 2rem;
    }
    /* pencarian buku */


}

/* berlaku untuk width window (320px - 479px) */












/* berlaku untuk width window (480px - 767px) */

@media (min-width: 480px) {


    /* pencarian buku */
    #pencarian-buku {
        padding-top: 2.5rem;
    }
     /* pencarian buku */


}

/* berlaku untuk width window (480px - 767px) */












/* berlaku untuk width window (768px - 959px) */

@media (min-width: 768px) {


    /* pencarian buku */
    #pencarian-buku {
        padding-top: 3rem;
    }
    /* pencarian buku */


}

/* berlaku untuk width window (768px - 959px) */












/* berlaku untuk width window >= 960px */

@media (min-width: 960px) {


    /* pencarian buku */
    #pencarian-buku {
        padding-top: 3.5rem;
    }
    /* pencarian buku */


}

/* berlaku untuk width window >= 960px */
