/* wishlist */

#wishlist {
    margin-top: 50px;
    margin-bottom: 60px;
    font-family: 'Roboto';
}


#wishlist .bg-white {
    padding: 10px 0;
}


#wishlist .text-wishlist {
    padding: 5px 20px;
    font-weight: 500;
    color: #4D91F6;
    font-size: 36px;
    margin-bottom: -5px;
    text-align: center;
}


#wishlist hr {
    border: 1px solid #C4C4C4;
    /* margin-top: -5px; */
}


#wishlist .daftar-wishlist {
    padding: 10px 20px;
}


#wishlist .daftar-wishlist img {
    width: 160px;
    height: 230px;
}


#wishlist .daftar-wishlist h2.judul-buku {
    font-weight: 300;
    font-size: 22px;
    margin-top: 5px;
}


#wishlist .daftar-wishlist h3.harga-buku {
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
    color: #1A9980;
}


#wishlist .daftar-wishlist h3.harga-buku span {
    color: #DD4200;
    border: 2px solid #DD4200;
    font-size: 14px;
    padding: 3px 5px;
    font-weight: 500;
    margin-left: 15px;
}


#wishlist .daftar-wishlist p.harga-sebelum-diskon {
    color: #777;
    font-weight: 300;
    text-decoration: line-through;
    font-size: 14px;
}


#wishlist .daftar-wishlist a.hapus {
    font-weight: 400;
    display: inline-block;
    margin-top: 5px;
    color: #B20E0E;
    text-decoration: underline;
}


#wishlist .daftar-wishlist a.hapus:hover {
    color: #9C0707;
}


#wishlist .daftar-wishlist .btn-wish {
    position: relative;
}


#wishlist .daftar-wishlist a.btn-beli-sekarang {
    display: inline-block;
    background-color: #FFBB5D;
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 20px;
    top: -35px;
    right: 23%;
    position: absolute;
    border-radius: 100px;
}


#wishlist .daftar-wishlist a.btn-beli-sekarang:hover {
    background-color: #FDB046;
}

/* wishlist */







/* khusus desktop window >= 550px */

@media (min-width: 550px) {

    #wishlist .text-wishlist {
        text-align: left;
    }


    #wishlist .daftar-wishlist a.btn-beli-sekarang {
        right: 27%;
    }
}





/* khusus desktop window >= 770px */

@media (min-width: 770px) {

    #wishlist .text-wishlist {
        text-align: left;
    }


    #wishlist .daftar-wishlist a.btn-beli-sekarang {
        right: 35%;
    }
}





/* khusus desktop window >= 992px */

@media (min-width: 992px) {
    
    #wishlist .text-wishlist {
        text-align: left;
    }


    #wishlist .daftar-wishlist h2.judul-buku {
        margin-left: 8%;
        font-size: 28px;
    }


    #wishlist .daftar-wishlist h3.harga-buku {
        margin-left: 8%;
        font-size: 22px;
    }


    #wishlist .daftar-wishlist h3.harga-buku span {
        margin-left: 8%;
        font-size: 18px;
    }


    #wishlist .daftar-wishlist p.harga-sebelum-diskon {
        margin-left: 8%;
        font-size: 16px;
    }


    #wishlist .daftar-wishlist a.hapus {
        margin-left: 8%;
        margin-top: 40px;
    }


    #wishlist .daftar-wishlist .btn-wish {
        position: none;
    }


    #wishlist .daftar-wishlist a.btn-beli-sekarang {
        font-size: 18px;
        padding: 8px 30px;
        margin-top: 30%;
        margin-right: 10%;
        position: none;
        top: 0;
        right: 0;
    }
}




/* khusus desktop window >= 1185px */

@media (min-width: 1185px) {

    #wishlist .text-wishlist {
        text-align: left;
    }


    #wishlist .daftar-wishlist img {
        width: 180px;
        height: 260px;
    }


    #wishlist .daftar-wishlist h2.judul-buku {
        font-size: 32px;
    }


    #wishlist .daftar-wishlist h3.harga-buku {
        font-size: 26px;
        margin-top: 20px;
    }


    #wishlist .daftar-wishlist h3.harga-buku span {
        font-size: 18px;
    }


    #wishlist .daftar-wishlist p.harga-sebelum-diskon {
        font-size: 17px;
        margin-top: 15px;
    }


    #wishlist .daftar-wishlist a.hapus {
        margin-top: 50px;
        font-size: 18px;
    }


    #wishlist .daftar-wishlist .btn-wish {
        position: none;
    }


    #wishlist .daftar-wishlist a.btn-beli-sekarang {
        font-size: 20px;
        padding: 8px 30px;
        margin-top: 30%;
        margin-right: 10%;
        position: none;
        top: 0;
        right: 0;
    }

}